<div class="page" *ngIf="divertissement">
    <div class="entete">
        <div class="row" style="margin-bottom: 20px">
            <div class="cell-lg-9">
                <div class="titre">
                    {{divertissement.titre}}
                </div>
                <div class="sous-titre text-leader2">
                    {{divertissement.description}}
                </div>
                <div style="height: 20px;">

                </div>

                <div class="sous-titre text-leader2" *ngIf="divertissement.date && !divertissement.dateFin">
                    Le
                    <b>{{divertissement.date | date: 'yyyy-MM-dd'}} </b>
                </div>
                <div class="sous-titre text-leader2" *ngIf="divertissement.date && divertissement.dateFin">
                    Du <b>{{divertissement.date | date: 'yyyy-MM-dd' }}</b> au <b>{{divertissement.dateFin | date: 'yyyy-MM-dd' }}</b>
                </div>

                <div>
                    <div style="margin-top: 10px;">
                        <a *ngIf="divertissement.latitude && divertissement.longitude" class="showOnMObile " style="color: rgb(48, 164, 221); font-size: 0.8em;" (click)="ouvrirGoogleMap()" target="_blank">
                            Ouvrir sur Google Map
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell-lg-3 text-right hideOnMObile">
                <div *ngIf="divertissement.latitude && divertissement.longitude" style="text-align: center; margin-top: 0px;">
                    <div style="font-size: 2.5em;">
                        <span class="mif-location" style="color: rgb(48, 164, 221);"></span>
                    </div>
                    <div>
                        <a class="text-leader2 map" style="color: #303030;" (click)="ouvrirGoogleMap()" target="_blank">
                            Ouvrir sur Google Map
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
            <div *ngIf="!passee" class="row no-gap shadow-3">
                <div class="cell-lg-8 bordure-bleu-debut">
                    <input formControlName="personnes" data-role="input" data-prepend="Personnes">
                </div>
                <div class="cell-lg-4 bordure-bleu-fin">
                    <button class="button warning" style="width: 100%; background-color: rgb(48, 164, 221);">
                        Réserver
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="contenu" style="padding-top: 5vh">
        <div class="row">
            <div *ngFor="let image of divertissement.images" class="cell-lg-4">
                <div class="trap-image" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
    </div>
</div>