<div class="page-sejour">
    <div class="entete" *ngIf="sejour">

        <div class="entete__background" [ngStyle]="{'background-image': 'url('+ sejour.images[0] +')'}">
        </div>
        <div class="entete__contenu">

            <div style="margin-left: -15px; margin-bottom: -20px;">
                <ul class="breadcrumbs" style="background-color: rgba(0,0,0,0);">
                    <li class="page-item"><a routerLink="accueil" class="page-link">Accueil</a></li>
                    <li class="page-item"><a (click)="goToAll()" class="page-link">Séjours</a></li>
                    <li class="page-item" *ngIf="sejour"><a class="page-link">{{sejour.titre}}</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="cell-lg-9">
                    <div class="titre">
                        {{sejour.titre}}
                    </div>
                    <div class="muanza-description">
                        <small>
                            <ng-container *ngIf="sejour.dateDebut && sejour.dateFin">
                                Du {{sejour.dateDebut | date: 'yyyy-MM-dd'}}
                                au {{sejour.dateFin | date: 'yyyy-MM-dd'}},
                            </ng-container>

                            {{sejour.ville}}, {{sejour.prixUnitaire}} FCFA par personne
                        </small>
                    </div>
                    <div class="showOnMObile" style="margin-top: 10px;">
                        <button (click)="showFormReservation()" class="button primary small" style="background-color: rgb(48, 164, 221);">
                            Réserver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu" *ngIf="sejour" style="padding-top: 0vh">
        <div class="">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <div *ngIf="formReservationShowed" class="row no-gap shadow-2 muanza-box-reservation" style="">
                    <div class="cell-lg-8 bordure-bleu-debut">
                        <input formControlName="personnes" type="number" data-role="input" data-prepend="Nombre de personnes">
                    </div>
                    <div class="cell-lg-4 bordure-bleu-fin">
                        <button class="button" style="width: 100%; background-color: rgb(48, 164, 221); color: #fff;">
                            Réserver
                        </button>
                    </div>
                    <div class="showOnMObile mobile-recherche-fermer cell-lg-2">
                        <a (click)="showFormReservation()" class="button dark" style="color: #fff;  width: 100%;">Fermer</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="sejour" class="images-sejour">
        <div *ngIf="sejour.images.length === 1" class="row">
            <div *ngFor="let image of sejour.images" class="cell-12">
                <div class="trap-image moyenne" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
        <div *ngIf="sejour.images.length === 2" class="row">
            <div *ngFor="let image of sejour.images" class="cell-lg-6 cell-6">
                <div class="trap-image moyenne" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
        <div *ngIf="sejour.images.length === 3" class="row">
            <div *ngFor="let image of sejour.images" class="cell-lg-4 cell-6">
                <div class="trap-image moyenne" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
        <div *ngIf="sejour.images.length === 4" class="row">
            <div *ngFor="let image of sejour.images" class="cell-lg-3 cell-6">
                <div class="trap-image" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
        <div *ngIf="sejour.images.length === 5" class="row cells-5">
            <div *ngFor="let image of sejour.images" class="cell-1 cell-5">
                <div class="trap-image" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
        <div *ngIf="sejour.images.length === 6" class="row">
            <div *ngFor="let image of sejour.images" class="cell-lg-2 cell-6">
                <div class="trap-image" [ngStyle]="{'background-image': 'url(' + image +')'}">

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sejour" class="sejour-autres-details">
        <div *ngIf="sejour" class="row">
            <div class="cell-lg-3 cell-6">
                <div class="box-details">
                    {{sejour.description}}
                </div>
            </div>
            <div class="cell-lg-3 cell-6">
                <div class="box-details" *ngIf="sejour.pack.hebergement" style="">
                    <div class="box-details-titre">Hébergements</div>
                    <div style="margin-top: 5px;">
                        {{sejour.pack.hebergement.prestataire.nom}}
                    </div>
                    <div>
                        {{sejour.pack.hebergement.titre}}
                    </div>
                </div>
            </div>
            <div class="cell-lg-3">
                <div class="box-details" *ngIf="sejour.pack.divertissements" style="line-height: 1.15;">

                    <div>
                        <div class="box-details-titre">Divertissements</div>
                        <ul style="padding:0; margin: 0; margin-top: 5px;">
                            <li *ngFor="let d of sejour.pack.divertissements">
                                {{d.titre}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>