.page-sejour {
    min-height: 100vh;
}
.entete {
    height: 200px;
    overflow: hidden;

    .entete__background {

        height: 200px;
        overflow: hidden;

        animation-name: progress-bar;
        animation-duration: 500ms;
        background-size: cover;
        background-position: center center;
        // background-attachment: fixed;

        filter: blur(5px);
        transform: scale(1.2);

    }

    .entete__contenu {
        padding-top: 55px;
        padding-left:10vw;
        padding-right: 10vw;
        padding-bottom: 3vh;
        margin-top: -200px;
        height: 200px;
        overflow: hidden;
        //background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
        background-color: rgba(255,255,255,0.85);
        //color: white;

        .titre {
            font-size: 2.0em;
            line-height: 1.15;
        }

        .sous-titre {
            margin-top: 5px;
        }
    }
}

.contenu {
    padding-top: 1vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vh;
    min-height: 100vh;
}

.bordure-bleu {
    &-debut {
        border: 2px solid rgb(48, 164, 221);
    }

    &-fin {
        border: 2px solid rgb(48, 164, 221);
        border-left: 0px solid #eee;
    }
}

.sous-titre {
    margin-top: -5px;
}

.formulaire {
    height: 60vh;
    border: 2px solid rgb(48, 164, 221);
    padding: 20px;
    border-radius: 10px;
}

.trap-image {
    height: 300px;
    background-size: cover;
    background-position: center center;
}

.images {
    background-color: #000;
    height: 60vh;
    margin-left: 10px;
}

.petit-titre {
    font-size: 1.2em;
    font-weight: bold;
}

.total {
    padding-top: 20px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.reservation {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.options-titres {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px; 
}
input:checked {
  opacity: 0.5;
}