.padding-muanza {

    padding-left: 10vw;
    padding-right: 10vw;

    @media screen and (max-width: 599px) {
        padding-top: 60px;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
        font-size: 0.9em;
        ;
    }

}

.contenu {
    padding-top: 20px;
    margin-bottom: 50vh;
}


.entete {
    height: 180px;
    background-color: #eee;
    font-size: 2.0em;
    font-weight: bold;
    padding-top: 90px;
    text-transform: uppercase;

}

form {
    div {
        padding-bottom: 10px;
    }
}