.formulaire {
    div {
        margin-bottom: 0px;
    }
}

.titre {
    font-size: 2.5em;
    font-weight: bold;
}


.muanza-padding-sejour {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 60px;
}


.apercu {
    padding-left: 20px;
    &-titre {
        margin-bottom: 20px;
    }
}

.cadre {
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.bloc {
    padding-top: 20px;
}

.options-titres {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px; 
}