.page-creation {
    padding: 10vw;
    padding-top: 10vh;
}
.formulaire {
    div {
        margin-bottom: 10px;
    }
}

.titre {
    font-size: 1.5em;
    font-weight: bold;
}

.cadre {
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.apercu {
    padding-left: 20px;
    &-titre {
        margin-bottom: 20px;
    }
}

.type-divertissement {
    span {
        padding-right: 20px;
    }
}