<div class="page-transport">
    <div class="entete">

        <div class="entete__background interurbain">
        </div>
        <div class="entete__contenu interurbain">
            <div class="row no-gap">
                <div class="cell-lg-12">
                    <div style="margin-left: -15px; margin-bottom: -20px; margin-top: 0px;">
                        <ul class="breadcrumbs" style="background-color: rgba(0,0,0,0);">
                            <li class="page-item"><a routerLink="accueil" class="page-link">Accueil</a></li>
                            <li class="page-item"><a routerLink="/offres/transport" class="page-link">Transports</a></li>
                            <li class="page-item"><a class="page-link">Location de voiture</a></li>
                        </ul>
                    </div>
                    <div class="titre">
                        Location de voiture
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="formulaire-recherche">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <div class="row no-gap shadow-3">
                    <div class="cell-lg-5 bordure-orange-debut">
                        <div>
                            <input formControlName="rechercher" data-role="input" data-prepend="Rechercher">
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-fin">
                        <div>
                            <select formControlName="categorie" data-role="select" data-prepend="Catégorie">

                            </select>
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-fin">
                        <div>
                            <select #depart formControlName="transmission" data-role="select" data-prepend="Transmission">
                                <option value="Automatique">
                                    Automatique
                                </option>
                                <option value="Manuelle">
                                    Manuelle
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="cell-lg-1 bordure-orange-fin bg-dark">
                        <button class="button warning" style="width: 100%; background-color: rgb(48, 164, 221);">
                            Rechercher
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="voitures">
            <div class="row">
                <div *ngFor="let v of voitures" class="cell-lg-4">
                    <div (click)="voir(v)" class="voiture">
                        <div class="row">
                            <div class="cell-lg-8">
                                <div class="voiture-categorie">
                                    {{v.categorie}}
                                </div>
                                <div class="voiture-modele" style="display: none;">
                                    {{v.modele}}
                                </div>
                            </div>
                            <div class="cell-lg-4">
                                <div class="voiture-infos">
                                    Infos
                                </div>
                            </div>
                        </div>
                        <div class="voiture-description">

                            {{v.sieges}} sièges | {{v.portieres}} portières | {{v.transmission}}
                        </div>
                        <div class="voiture-image" [ngStyle]="{'background-image': 'url('+ v.image +')'}">

                        </div>
                        <div class="voiture-cout" style="display: none;">
                            {{v.cout | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 50vh;">

</div>