.rubriques {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    .rubrique {
        
    }
}

.admin {
    color: #aaa;
    cursor: pointer;
    &:hover {
        font-weight: bold;
    }
}