<div style="height: 60vh; background-color: #000;">

    <div class="rubriques fg-white">
        <div class="row">
            <div class="cell-lg-2">
                <div class="rubrique">
                    <b style="color: rgb(255, 115, 0);">
                        TRAP YOUR TRIP
                    </b>
                    <div (click)="admin()" class="admin">
                        Administration
                    </div>
                </div>
            </div>
            <div class="cell-lg-2">
                <div class="rubrique">
                    <div style="padding-bottom: 10px;">
                        <b>
                            A VOTRE ECOUTE
                        </b>
                    </div>
                    <div style="color: #aaa;">
                        Qui sommes-nous ?
                    </div>
                </div>
            </div>
            <div class="cell-lg-3">
                <div class="rubrique">
                    <div>
                        Yaoundé, Cameroun
                    </div>
                    <div>
                        Tel : 696543495
                    </div>
                    <div>
                        Email : contact@trapyourtrip.com
                    </div>
                </div>
            </div>
            <div class="cell-lg-3">
                <div class="rubrique">
                    <div>
                        Facebook
                    </div>
                    <div>
                        Instagram
                    </div>
                    <div>
                        Twitter
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>