.rubriques {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    .rubrique {
        
    }
}

.admin {
    color: #aaa;
    cursor: pointer;
    &:hover {
        font-weight: bold;
    }
}

* {
    @media screen and (max-width: 599px) {
        font-size: 12px;
    }
}