<div class="page">
    <div class="entete">
        <div style="margin-top: 100px;">
            <h1 class="titre">
                Quel type de divertissements désirez-vous ?
            </h1>
        </div>
    </div>
    <div class="contenu" style="min-height: 100vh;">
        <div class="row">
            <div class="cell-lg-4">
                <div (click)="evenements()" class="categorie">
                    <h3>
                        Evènements
                    </h3>
                </div>
            </div>
            <div class="cell-lg-4">
                <div (click)="loisirs()" class="categorie">
                    <h3>
                        Centres de loisirs
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>