.page-sejour {
    .entete2 {
        background-color: rgb(48, 164, 221);
        color: white;
        padding-top: 60px;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 3vh;
        @media screen and (max-width: 599px) {
            padding-top: 50px;
            padding-left: 5vw;
            padding-right: 5vw;
            text-align: center;
        }
        .titre {
            font-size: 3.0em;
            font-family: 'Raleway';
        }
        .sous-titre {
            margin-top: -5px;
        }
    }
    .contenu2 {
        padding-top: 3vh;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 0vh;
        @media screen and (max-width: 599px) {
            padding-top: 30px;
            padding-left: 5vw;
            padding-right: 5vw;
        }
    }
}

.white-space {
    @media screen and (min-width: 600px) {
        white-space: nowrap;
    }
}