.sous-titre {
    margin-top: 0px;
}

.formulaire {
    height: 60vh;
    border: 2px solid rgb(255, 115, 0);
    padding: 20px;
    border-radius: 10px;
}

.trap-image {
    height: 40vh;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2vh;
}
.trap-image-big {
    height: 82vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.images {
    background-color: #000;
    height: 60vh;
    margin-left: 10px;
}

.petit-titre {
    font-size: 1.2em;
    font-weight: bold;
}

.total {
    padding-top: 20px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.reservation {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.details {
    margin-top: 20px;
    margin-bottom: 10px;
    .detail {
        display: inline-block;
        background-color: #fafafa;
        margin-right: 10px;
        padding-right: 10px;
        span {
            color: rgba(255, 115, 0);
            background-color: #eee;
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .detail2 {
        display: inline-block;
        background-color: #fafafa;
        margin-right: 10px;
        padding-right: 10px;
        span.icone {
            color: rgba(255, 115, 0);
            background-color: #eee;

            i {
                font-size: 1.5em;
            }
        }
        span.libelle {
            display: inline-block;
            padding: 3px;
            padding-top: 4px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.orange {
    color: rgba(255, 115, 0);
}

.sejour__notation {
    margin-top: 0px;
    text-align: right;
    font-size: 2.0em;
}

.bordure-orange {
    &-debut {
        border: 2px solid rgb(255, 115, 0);
    }

    &-fin {
        border: 2px solid rgb(255, 115, 0);
        border-left: 0px solid #eee;
    }
}

input.muanza {
    border: 1px solid #fff;
    outline: none !important;
    padding-left: 20px;
}