<div class="page" style="min-height: 100vh;">
    <div *ngIf="hebergement" class="entete">
        <div class="row no-gap">
            <div class="cell-lg-8">
                <div style="margin-left: -15px; margin-top: -20px;">
                    <ul class="breadcrumbs">
                        <li class="page-item"><a routerLink="accueil" class="page-link">Accueil</a></li>
                        <li class="page-item"><a (click)="goToAll()" class="page-link">Hébergement</a></li>
                        <li class="page-item"><a class="page-link">{{hebergement.titre}}</a></li>
                    </ul>
                </div>
                <div class="titre" style="margin-top: -23px; padding-top: 0px; line-height: 1.15;">
                    {{hebergement.titre}}
                </div>
                <div class="sous-titre text-leader2">
                    {{hebergement.description}}
                </div>

            </div>
            <div class="cell-lg-4">
                <div class="sejour__notation orange" [innerHTML]="notationToStars(hebergement.notation)"></div>
                <div class="text-right" style="margin-top: -5px; color: #444">
                    <span>
                        {{hebergement.nuitee | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row no-gap">
            <div class="cell-lg-12">
                <div *ngIf="hebergement.options" class="details">

                    <span title="WiFi" *ngIf="hebergement.options.wifi" class="detail">
                        <span class="mif-network-wifi"></span> WiFi
                    </span>
                    <span title="Parking" *ngIf="hebergement.options.parking" class="detail">
                        <span class="mif-automobile"></span> Parking
                    </span>
                    <span title="Petit déjeuner" *ngIf="hebergement.options.petitdej" class="detail">
                        <span class="mif-spoon-fork"></span> Petit déjeuner
                    </span>
                    <span title="Climatisation" *ngIf="hebergement.options.climatiseur" class="detail">
                        <span class="mif-air"></span> Climatisation
                    </span>
                    <span title="Piscine" *ngIf="hebergement.options.piscine" class="detail2">
                        <span class="icone" style="padding: 4px; padding-top: 5px;">
                            <i style="font-size: 1.2em;" class="fas fa-swimming-pool fg-orange">

                            </i>
                        </span>
                        <span class="libelle">
                            Piscine
                        </span>
                    </span>
                    <span title="Plage" *ngIf="hebergement.options.plage" class="detail2">
                        <span class="icone" style="padding: 4px; padding-top: 5px;">
                            <i style="font-size: 1.2em;" class="fas fa-umbrella-beach fg-orange">

                            </i>
                        </span>
                        <span class="libelle">
                            Plage
                        </span>
                    </span>
                    <span title="Gardien" *ngIf="hebergement.options.gardien" class="detail2">
                        <span class="icone" style="padding: 4px; padding-top: 5px; padding-left: 5px; padding-right: 5px;">
                            <i style="font-size: 1.2em;" class="fas fa-user-secret fg-orange">

                            </i>
                        </span>
                        <span  class="libelle">
                            Gardien
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
            <div class="row no-gap">
                <div class="cell-lg-3 bordure-orange-debut">
                    <input #calendarpickerlocale formControlName="date" data-role="calendarpicker"
                        data-prepend="Arrivée">
                </div>
                <div class="cell-lg-3 bordure-orange-fin">
                    <input #calendarpickerlocale2 formControlName="dateFin" data-role="calendarpicker"
                        data-prepend="Départ">
                </div>
                
                <div class="cell-lg-2 bordure-orange-fin">
                    <div>
                        <input formControlName="adultes" style="text-align: right;" type="number" placeholder="Adultes" class="input muanza">
                        <div style="margin-top: -30px; padding-left: 10px; width: 50%; color: #888;">
                            <span>
                                Adultes
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-2 bordure-orange-fin">
                    <div>
                        <input formControlName="enfants" style="text-align: right;" type="number" placeholder="Enfants" class="input muanza">
                        <div style="margin-top: -30px; padding-left: 10px; width: 50%; color: #888;">
                            <span>
                                Enfants
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-2 bordure-orange-fin">
                    <button class="button warning" style="width: 100%; background-color: rgb(255, 115, 0);">
                        Réserver
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="hebergement" class="contenu" style="padding-top: 5vh">
        <div class="row">
            <div *ngIf="hebergement.images[0]" class="cell-lg-8">
                <div class="trap-image-big" [ngStyle]="{'background-image': 'url(' + hebergement.images[0] +')'}">

                </div>
            </div>
            <div class="cell-lg-4">
                <div *ngIf="hebergement.images[1]" class="trap-image" [ngStyle]="{'background-image': 'url(' + hebergement.images[1] +')'}">

                </div>
                <div *ngIf="hebergement.images[2]" class="trap-image" [ngStyle]="{'background-image': 'url(' + hebergement.images[2] +')'}">

                </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height: 50vh; background-color: #eee; padding: 5vw; padding-top: 2.5vw;">
    <div style="font-size: 1.8em; font-weight: bold; margin-bottom: 2vw;">
        Vous pourriez aussi aimer
    </div>
    <div class="row">
        <div class="cell-lg-3" *ngFor="let hebergement of resultats">
            <app-display-hebergement [hebergement]="hebergement"></app-display-hebergement>
        </div>
    </div>
</div>