$bg-primaire: rgb(48, 164, 221);

.offres {
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    @media screen and (max-width: 599px) {
        width: 100%;
        overflow-x: scroll;
    }


    .muanza-mobile-rub {
        @media screen and (max-width: 599px) {
            width: 180vw;
        }
    
    }


    .offre {
        border: 1.5px solid #333;
        border-radius: 10px;
        height: 80px;
        padding: 20px;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
            background-color: #404040;
            color: $bg-primaire;
        }

        .libelle {
            font-weight: bold;
        }

        .icone {
            float: right;
        }

        @media screen and (max-width: 599px) {

            border: 1px solid #333;
            border-radius: 10px;
            height: 50px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.0em;
            cursor: pointer;

            .libelle {
                display:inline-block;
                width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}


.muanza-mobile-filtre {
    @media screen and (max-width: 599px) {
        margin-top: -80px;
        height: 80px;
        width: 100vw;
        background-color: rgba(red, 0.5);
    }

}