<div class="offres">
    <div class="row">
        <div class="cell-lg-3">
            <div class="offre" (click)="goTo('sejour')">
                <span class="libelle">
                    Séjours
                </span>
                <span class="icone">
                    <span class="mif-location-city"></span>
                </span>
            </div>
        </div>
        <div class="cell-lg-3">
            <div class="offre" (click)="goTo('offres/hebergement')">
                <span class="libelle">
                    Hébergements
                </span>
                <span class="icone">
                    <span class="mif-hotel"></span>
                </span>
            </div>
        </div>
        <div class="cell-lg-3">
            <div class="offre" (click)="goTo('transport')">
                <span class="libelle">
                    Transports
                </span>
                <span class="icone">
                    <span class="mif-bus"></span>
                </span>
            </div>
        </div>
        <div class="cell-lg-3">
            <div class="offre" (click)="goTo('divertissement')">
                <span class="libelle">
                    Divertissements
                </span>
                <span class="icone">
                    <span class="mif-dribbble"></span>
                </span>
            </div>
        </div>
    </div>
</div>