.logo {
    background-size: cover;
    background-position: center center;
    background-color: #eee;
    height: 300px;
}

.agence {
    background-color: #eee;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}