<div class="page-sejour">
    <div class="entete" style="background-color: #eee;">
        <div class="row">
            <div class="cell-lg-12">
                <div class="titre">
                    Séjours
                </div>
                <div class="sous-titre text-leader2" style="font-size: 0.9em;">
                    Retrouvez les meilleurs séjours
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="row no-gap shadow-1 radius-gauche radius-droit">
                    <div class="cell-lg-3 bordure-orange--debut radius-gauche">
                        <div>
                            <input style="padding-left: 10px;" placeholder="Ville" class="radius-gauche input iput-form"
                                [(ngModel)]="recherche" (ngModelChange)="rechercher($event)">
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange--fin">
                        <div>
                            <input placeholder="A partir du" data-role="input">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin">
                        <div>
                            <input placeholder="Parent" data-role="input">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin">
                        <div>
                            <input placeholder="Enfants" data-role="input">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin radius-droit">
                        <div>
                            <button class="button warning" style="width: 100%;">
                                Rechercher
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu" style="padding-top: 15px;">
        <div class="row">
            <div class="cell-lg-2">
                <div class="options">
                    <span class="">
                        <input type="checkbox" data-role="checkbox" data-caption="Plage">
                    </span>
                    <span class="">
                        <input type="checkbox" data-role="checkbox" data-caption="Montagne">
                    </span>
                    <span class="">
                        <input type="checkbox" data-role="checkbox" data-caption="Célébrations">
                    </span>
                </div>

            </div>
            <div class="cell-lg-10">
                <div class="row">
                    <div class="cell-lg-4" *ngFor="let sejour of resultats">
                        <app-display-sejour [sejour]="sejour"></app-display-sejour>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>