<div class="page-sejour">
    <div class="entete" style="background-color: #eee;">
        <div class="row">
            <div class="cell-lg-12">
                <div class="titre">
                    Séjours
                </div>
                <div class="sous-titre text-leader2">
                    Retrouvez les meilleurs séjours
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="row no-gap">
                    <div class="cell-lg-3 bordure-grise">
                        <div style="margin-right: 10px;">
                            <select data-cls-option="fg-orange"
                            data-cls-selected-item="bg-orange fg-white" [(ngModel)]="ordre" data-filter="false" (ngModelChange)="ordonner($event)" data-role="select">
                                <option value="croissant">
                                    Ordre croissant de prix
                                </option>
                                <option value="decroissant">
                                    Ordre décroissant de prix
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange--debut">
                        <div>
                            <input placeholder="Rechercher un séjour" data-role="input" [(ngModel)]="recherche" (ngModelChange)="rechercher($event)">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin">
                        <div>
                            <input placeholder="Parent" data-role="input">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin">
                        <div>
                            <input placeholder="Enfants" data-role="input">
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange--fin">
                        <div>
                            <button class="button warning" style="width: 100%;">
                                Rechercher
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="sejours">
            <div class="row">
                <div class="cell-lg-3" *ngFor="let sejour of resultats">
                    <app-display-sejour [sejour]="sejour"></app-display-sejour>
                </div>
            </div>
        </div>
    </div>
</div>