.formulaire {
    div {
        margin-bottom: 10px;
    }
}

.titre {
    font-size: 2.5em;
    font-weight: bold;
}


.options {
    span {
        margin-right: 20px;
    }
}

.cadre {
    padding: 5vw;
}