<div class="image-arriere">
    <div data-role="carousel" data-height="16/9" data-period="5000" data-duration="500"
    data-auto-start="true" data-bullets="false" data-controls="false">

        <div class="slide" data-cover="../../../../assets/img/zanzibar.jpg"></div>
        <div class="slide" data-cover="../../../../assets/img/ciel.jpg"></div>

    </div>
</div>
<div class="cadre">
    <div class="recherche">
        <div class="titre">
            Rechercher une destination
        </div>
        <div class="formulaire">
            <input class="trap-input shadow-3">
        </div>
    </div>
</div>