<div class="image-arriere">
    <div data-role="carousel" data-height="16/9" data-period="5000" data-duration="500" data-auto-start="true"
        data-bullets="false" data-controls="false">

        <div class="slide" data-cover="../../../../assets/img/zanzibar.jpg"></div>
        <div class="slide" data-cover="../../../../assets/img/ciel.jpg"></div>

    </div>
</div>
<div class="cadre">
    <div class="recherche">
        <div class="titre">
            Rechercher une destination
        </div>

        <input [(ngModel)]="recherche" (ngModelChange)="rechercher($event)" class="trap-input shadow-3">

        <div  (click)="verifier()" class="resultats">
            <div (click)="ouvrir(h)" *ngFor="let h of resultats" class="resultat">
                <span class="photo">
                    <img [src]="h.photoURL ? h.photoURL : '../../../../assets/img/villa1.jpg'">
                </span>
                <span class="details">
                    <span class="nom">{{h.nom}}</span>
                    <br>
                    <span class="description">{{h.localisation}}</span>
                </span>
            </div>
        </div>
    </div>
</div>