<div *ngIf="sejour" class="sejour" (click)="ouvrir(sejour.id)">
    <div class="sejour__conteneur">
        <div class="sejour__image" [ngStyle]="{'background-image': 'url(' + sejour.images[0] +')'}">

        </div>
    </div>
    <div class="sejour__description">
        {{sejour.titre}}
    </div>
    <div class="sejour__notation orange" [innerHTML]="notationToStars(sejour.notation)"></div>
    <div class="sejour__prix">
        {{sejour.prixUnitaire | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
    </div>
</div>