@keyframes progress-bar {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes opaque {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.sejour {
    cursor: pointer;
    animation-name: progress-bar;
    animation-duration: 500ms;

    .sejour__conteneur {

        height: 250px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #eee;

    }

    .sejour__image {
        height: 250px;
        background-size: cover;
        background-position: center center;
        border-radius: 5px;
        transition: transform 400ms;
        animation-name: opaque;
        animation-duration: 1000ms;
        background-color: #eee;

        &:hover {
            transform: scale(1.2);
        }
    }

    .sejour__description {
        padding: 10px;
        padding-left: 15px;
        background-color: #eee;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 120px;
        overflow: hidden;
    }

    .sejour__notation {
        margin-top: -3px;

    }

    .sejour__prix {
        margin-top: -5px;

    }
}

.orange {
    color: rgb(255, 115, 0);
}

.muanza-details {
    margin-top: -250px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    margin-left: 30%;
    line-height: 2.5;

    .detail {
        background-color: rgb(255, 115, 0);
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 5px;
        white-space: nowrap;
    }
}