<div class="page-transport">
    <div class="entete" style="">

        <div class="entete__background">
        </div>
        <div class="entete__contenu">
            <div class="row">
                <div class="cell-lg-12">
                    <div class="titre">
                        Transports
                    </div>
                </div>
            </div>
            <div>
                <div style="margin-top: 10px;">
                    <ul data-role="tabs" data-expand="true">
                        <li><a href="#_target_1">Transport inter urbain</a></li>
                        <li><a href="#_target_2">Location de voiture</a></li>
                    </ul>
                </div>
                <div id="_target_1" style="margin-top: 25px;">
                    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                        <div class="row no-gap shadow-1">
                            <div class="cell-lg-5 bordure-orange-debut">
                                <div>
                                    <input #depart formControlName="depart" style="text-align: right;" data-role="input"
                                        data-prepend="Ville de départ"
                                        data-autocomplete="Douala, Yaoundé, Kribi, Limbé">
                                </div>
                            </div>
                            <div class="cell-lg-5 bordure-orange-fin">
                                <div>
                                    <input #arrivee style="text-align: right;" formControlName="arrivee" data-role="input"
                                        data-prepend="Ville d'arrivée"
                                        data-autocomplete="Douala, Yaoundé, Kribi, Limbé">
                                </div>
                            </div>
                            <div class="cell-lg-2 bordure-orange-fin">
                                <button [disabled]="form.invalid" class="button warning"
                                    style="width: 100%; background-color: rgb(255, 115, 0);">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="_target_2" style="margin-top: 25px;">
                    <form [formGroup]="form2" (ngSubmit)="onFormSubmit2()">
                        <div class="row no-gap shadow-1" style="border-radius: 20px;">
                            <div class="cell-lg-10 bordure-orange-debut radius-gauche">
                                <div>
                                    <input formControlName="ville" style="text-align: right; padding-right: 10px;"
                                        placeholder="Ville de départ" class="input muanza radius-gauche">
                                    <div class="radius-gauche"
                                        style="margin-top: -30px; padding-left: 10px; width: 50%; color: #111">
                                        <span>
                                            Ville de location du véhicule
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-2 bordure-orange-fin radius-droit">
                                <button class="button warning" style="width: 100%; background-color: rgb(255, 115, 0);">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu" [ngClass]="{'visible': resultatsVisible, 'invisible': !resultatsVisible}">
        <div class="trajets">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ville de départ</th>
                        <th>Ville d'arrivée</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trajet of trajets" style="cursor: pointer;">
                        <td (click)="departs(trajet)">{{ trajet.id }}</td>
                        <td (click)="departs(trajet)">{{ trajet.villeDepart | uppercase}}</td>
                        <td (click)="departs(trajet)">{{ trajet.villeArrivee | uppercase}}</td>
                        <td>
                            <button class="button" (click)="supprimer(trajet)">
                                Supprimer
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <button class="button" (click)="trajet()">
        Nouveau trajet
    </button>
    <button class="button" (click)="agence()">
        Nouvelle agence
    </button>
    <button class="button" (click)="lesdepart()">
        Nouveau départ
    </button>
</div>