.entete {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #eee;
    padding-left: 5vw;
    padding-right: 5vw;

    .titre {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.15;
    }
}

.contenu {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
}