<div (click)="voir(voiture)" class="voiture">
    <div class="row">
        <div class="cell-lg-8">
            <div class="voiture-categorie">
                {{voiture.categorie}}
            </div>
            <div class="voiture-modele" style="display: none;">
                {{voiture.modele}}
            </div>
        </div>
        <div class="cell-lg-4">
            <div class="voiture-infos">
                Infos
            </div>
        </div>
    </div>
    <div class="voiture-description">

        {{voiture.sieges}} sièges | {{voiture.portieres}} portières | {{voiture.transmission}}
    </div>
    <div class="voiture-image" [ngStyle]="{'background-image': 'url('+ voiture.image +')'}">

    </div>
    <div class="voiture-cout" style="display: none;">
        {{voiture.cout | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
    </div>
</div>