.voiture {
  border: 2px solid #eee;
  padding: 15px;
  line-height: 1.15;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(48, 164, 221);
  }

  &-image {
    height: 300px;
    background-image: url('../../../assets/img/voiture.webp');
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 15px;
  }

  &-infos {
    font-size: 16px;
    // text-decoration: underline;
    color: rgb(48, 164, 221);
  }

  &-modele {
    font-size: 16px;
  }

  &-categorie {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway';
  }

  &-cout {
    background-color: rgb(53, 54, 54);
    color: white;
    padding: 10px;
    text-align: center;
  }

  &-description {
    margin-top: 0px;
    text-align: center;
    padding: 10px;
  }
}
