h1,
h2,
h3 {
    font-family: 'Raleway';
}

.titre {
    padding: 5vmin;
    padding-top: 10vmin;
    padding-bottom: 1vmin;
    font-size: 3.0em;
    text-align: center;
    line-height: 1.15;

    @media only screen and (max-width: 600px) {
        font-size: 25px;
        font-family: 'Raleway';
    }
}

.formulaire {
    padding: 5vmin;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 20vmin;

    @media only screen and (max-width: 600px) {
        padding: 5vmin;
        padding-bottom: 20vmin;
    }
}

.trap-input {
    font-size: 35px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    opacity: 0.8;
}

.button.muanza {
    margin-top: 1vmax;
    width: 100%;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    font-family: 'Raleway';
}

input::placeholder {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}