<div class="page-transport">
    <div class="entete">

        <div class="entete__background interurbain">
        </div>
        <div class="entete__contenu interurbain">
            <div class="row no-gap">
                <div class="cell-lg-12">
                    <div style="margin-left: -15px; margin-bottom: -20px; margin-top: 0px;">
                        <ul class="breadcrumbs" style="background-color: rgba(0,0,0,0);">
                            <li class="page-item"><a routerLink="accueil" class="page-link">Accueil</a></li>
                            <li class="page-item"><a routerLink="/offres/transport" class="page-link">Transports</a>
                            </li>
                            <li class="page-item">
                                <a routerLink="/offres/transport/location" class="page-link">
                                    Location de voiture
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">
                                    {{voiture ? voiture.modele : 'Veuillez patienter'}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="titre">
                        Location : {{voiture ? voiture.modele : 'Veuillez patienter'}}
                    </div>
                    <div style="margin-top: 0px;">
                        <span class="">
                            <input type="radio" (change)="handleChange($event)" value="interurbain" [(ngModel)]="type"
                                data-role="radio" data-caption="Transport interurbain">
                        </span>
                        <span class="">
                            <input type="radio" (change)="handleChange($event)" value="location" [(ngModel)]="type"
                                data-role="radio" data-caption="Location de voiture">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenu">
        <div *ngIf=" type === 'interurbain' " class="formulaire-recherche">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <div class="row no-gap shadow-3">
                    <div class="cell-lg-3 bordure-orange-debut">
                        <div>
                            <input #depart data-role="input" data-prepend="Ville de départ" data-clear-button="false" data-autocomplete="Douala, Yaoundé, Kribi, Limbé">
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-fin">
                        <div>
                            <input #arrivee data-role="input" data-clear-button="false" data-prepend="Ville d'arrivée" data-autocomplete="Douala, Yaoundé, Kribi, Limbé">
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-milieu">
                        <div>
                            <input #date data-role="calendarpicker" data-prepend="Date de départ">
                        </div>
                    </div>
                    <div class="cell-lg-1 bordure-orange-fin">
                        <div>
                            <select formControlName="heure">
                                <option value="oui">--:--</option>
                                <option *ngFor="let h of heures" [ngValue]="h">{{h}}</option>
                            </select>
                        </div>
                        <div class="icone-heure" (click)="selectionnerHeureDebut()">
                            <span class="mif-alarm"></span>
                        </div>
                    </div>
                    <div class="cell-lg-2 bordure-orange-fin bg-dark">
                        <a onclick="Metro.dialog.open('#demoDialog2')" class="button warning fg-white" style="width: 100%; background-color: rgb(48, 164, 221);">
                            Réserver
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf=" type === 'location' " class="formulaire-recherche">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <div class="row no-gap shadow-3">
                    <div class="cell-lg-3 bordure-orange-debut">
                        <div>
                            <input #ville data-clear-button="false" data-role="input" data-prepend="Ville" data-autocomplete="Douala, Yaoundé, Kribi, Limbé">
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-milieu">
                        <div>
                            <input #debut data-clear-button="false" data-role="calendarpicker" data-prepend="Date début">
                        </div>
                    </div>
                    <div class="cell-lg-1 bordure-orange-fin">
                        <div style="position: relative;">
                            <select formControlName="heureDebut">
                                <option value="00:00">--:--</option>
                                <option *ngFor="let h of heures" [ngValue]="h">{{h}}</option>
                            </select>
                        </div>
                        <div class="icone-heure" (click)="selectionnerHeureDebut()">
                            <span class="mif-alarm"></span>
                        </div>
                    </div>
                    <div class="cell-lg-3 bordure-orange-milieu">
                        <div>
                            <input #fin data-clear-button="false" data-role="calendarpicker" data-prepend="Date fin">
                        </div>
                    </div>
                    <div class="cell-lg-1 bordure-orange-fin">
                        <div style="text-align: center;">
                            <select formControlName="heureFin">
                                <option value="00:00">--:--</option>
                                <option *ngFor="let h of heures" [ngValue]="h">{{h}}</option>
                            </select>
                        </div>
                        <div class="icone-heure" (click)="selectionnerHeureDebut()">
                            <span class="mif-alarm"></span>
                        </div>
                    </div>
                    <div class="cell-lg-1 bordure-orange-fin bg-dark">
                        <button class="button warning" style="width: 100%; background-color: rgb(48, 164, 221);">
                            Réserver
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="voitures">
            <div class="row" *ngIf="voiture">
                <div class="cell-lg-6">
                    <div>
                        <div class="voiture">
                            <div class="row">
                                <div class="cell-lg-8">
                                    <div class="voiture-categorie">
                                        {{voiture.categorie}}
                                    </div>
                                    <div class="voiture-modele" style="display: none;">
                                        {{voiture.modele}}
                                    </div>
                                </div>
                                <div class="cell-lg-4">
                                    <div class="voiture-infos">
                                        Infos
                                    </div>
                                </div>
                            </div>
                            <div class="voiture-description">

                                {{voiture.sieges}} sièges | {{voiture.portieres}} portières | {{voiture.transmission}}
                            </div>
                            <div class="voiture-image" [ngStyle]="{'background-image': 'url('+ voiture.image +')'}">

                            </div>
                            <div *ngIf=" type === 'location' " class="voiture-cout">
                                {{voiture.cout | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
                            </div>
                            <div *ngIf=" type === 'interurbain' " class="voiture-cout">
                                <ng-container *ngIf="voiture.coutInterurbain">
                                    {{voiture.coutInterurbain | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
                                </ng-container>
                                <ng-container *ngIf="!voiture.coutInterurbain">
                                    {{voiture.cout | currency:'XAF':'symbol':'1.2-2':'fr-FR'}}
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 50vh;">

</div>

<div id="demoDialog2" class="dialog" data-role="dialog" style="margin-top: 0px;">
    <div class="dialog-title">Voyage Retour</div>
    <div class="dialog-content">
        <div style="margin-top: 0px; margin-bottom: 40px;">
            <div>
                Souhaitez-vous effectuer un voyage retour ?
            </div>
            <div>
                <div class="row">
                    <div class="cell-lg-12">
                        <input #calendarpickerlocale2 data-role="calendarpicker" data-cls-calendar="compact" data-prepend="Date">
                    </div>
                    <div class="cell-lg-12">
                        <select [(ngModel)]="retourHeure" data-prepend="Heure" data-role="select">
                            <option [ngValue]="heure" *ngFor="let heure of heures">
                                {{heure}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-actions">
        <button (click)="onFormSubmit()" class="button js-dialog-close">Non, merci</button>
        <button (click)="saveWithRetour()" class="button warning js-dialog-close" style="background-color: rgb(48, 164, 221);">
            Enregistrer
        </button>
    </div>
</div>